.arrow-down {
	&:hover {
		cursor: pointer;
	}

	&::after {
		content: "";
		width: 32px;
		height: 32px;
		position: absolute;
		left: 50%;
		border-right: 4px solid $primaryBlueShade2;
		border-bottom: 4px solid $primaryBlueShade2;
		border-top: 4px solid transparent;
		border-left: 4px solid transparent;
		border-radius: 6px;
		transform: rotate(45deg) translateY(50%);
		transition: all 0.5s ease-out;
		animation: 2.25s arrow-bounce-high infinite ease;

		@include screenSize(atMedium) {
			animation: 2.25s arrow-bounce-low infinite ease;
		}
	}

	transition: opacity 0.8s ease-out;

	&--fade {
		opacity: 0;
	}

	@keyframes arrow-bounce-high {
		0%,
		100% {
			top: 85%;
		}
		50% {
			top: 88%;
			border-right: 6px solid $primaryGreenShade3;
			border-bottom: 6px solid $primaryGreenShade3;
		}
	}
	@keyframes arrow-bounce-low {
		0%,
		100% {
			top: 88%;
		}
		50% {
			top: 91%;
			border-right: 6px solid $primaryGreenShade3;
			border-bottom: 6px solid $primaryGreenShade3;
		}
	}
}
