.slide-left {
    opacity: 0;
    margin-left: 100%;
    transform: translateX(100%);
    transition: all 1.4s ease-in-out;
    overflow: hidden;

    &--is-visible {
        opacity: 1;
        margin-left: 0;
        transform: translateX(0%);
    }
}