.portfolio-page-description {
	width: 100%;
	padding-bottom: 2rem;

	a {
		color: $primaryGreenShade2;
	}

	@include screenSize(atSmall) {
		width: 80%;
	}
	@include screenSize(atSmallMid) {
		width: 60%;
	}
	@include screenSize(atMedium) {
		width: 52%;
	}
}
