.project {
	width: 100%;
	display: flex;
	flex-direction: column;
	z-index: $layer1;

	&:first-child {
		margin-top: 0;
	}

	@include screenSize(atSmall) {
	}

	@include screenSize(atMedium) {
		display: flex;
		flex-direction: row;
		padding: 3rem 0;
	}

	&__image-container {
		width: 100%;

		@include screenSize(atMedium) {
			margin-left: 5%;
			width: 50%;
		}
	}

	&:last-child {
		border-bottom: none;
	}

	&__text {
		display: flex;
		flex-direction: column;
		width: 100%;
		font-weight: $fontLight;
		position: relative;
		color: $primaryTextLight;

		@include screenSize(atMedium) {
			width: 50%;
		}
	}

	&__heading {
		margin: 0;
		color: $primaryGreenShade1;

		@include screenSize(atMedium) {
			margin: 0;
		}
	}

	h4 {
		margin-top: 0.2rem;
		font-family: $paragraphFont;

		@include screenSize(atMedium) {
			margin-top: 0.5rem;
		}
	}

	&__link-container {
		margin-top: auto;
		width: 60% !important;
	}

	&__divider {
		visibility: none;
		display: none;
		opacity: 0.5;

		@include screenSize(atSmall) {
			visibility: visible;
			display: block;
		}
	}
}
