.project {
    width: 100%;
    display: flex;
    margin-top: 5rem;

    &__image-container {
        width: 50%;
        margin: 0 5% 8% 0;
    }

    &:last-child {
        border-bottom: none;
    }

    &__text {
        width: 50%;
        font-weight: $fontLight;
        position: relative;
    }

    &__heading {
        margin: 0;
    }

    h4 {
        margin-top: .5rem;
        font-weight: $fontLight;
    }

    &__link {
        margin-right: 30px;
        position: absolute;
        width: 140px;
        text-align: center;

        &--move-right {
            left: 30%;
        }

        a {
            text-decoration: none;
            font-weight: 700;
            transition: all .22s ease-out;

            &:hover {
                font-size: 1.3rem;
                color: $accentRed;
            }
        
            &:active {
                color: $mainBlue;
            }
        }
    }

    &__divider {
        width: 95%;
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            height: 4px;
            width: 4px;
            background-color: $accentRed;
            border-radius: 50%;
        }

        &::before {
            top: -2px;
            left: -20px;
        }

        &::after {
            top: -2px;
            right: -20px;
        }
    }
}