.project {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 4rem;
	z-index: $layer1;

	&:first-child {
		margin-top: 2rem;
	}
	&:last-child {
		border-bottom: none;
		padding-bottom: 6rem;

		@include screenSize(atMedium) {
			padding-bottom: 0;
		}
	}

	@include screenSize(atSmall) {
		padding: 1rem 0;
	}

	@include screenSize(atMedium) {
		display: flex;
		flex-direction: row;
		padding: 3rem 0;
	}

	&__image-container {
		width: 100%;
		margin: 0 0 1rem 0;
		order: 1;

		@include screenSize(atMedium) {
			margin: 0 0 0 5%;
			width: 50%;
			order: 2;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		order: 2;
		width: 100%;
		font-weight: $fontLight;
		position: relative;
		color: $primaryTextLight;

		@include screenSize(atMedium) {
			order: 1;
			width: 50%;
		}
	}

	&__heading {
		margin: 0;
		color: $primaryGreenShade1;
		font-weight: bold;
		font-size: $fontSize30;

		@include screenSize(atMedium) {
			margin: 0;
			font-size: $fontSize24;
		}
	}

	h4 {
		margin-top: 0.2rem;
		font-family: $paragraphFont;
		font-weight: $fontVeryLight;

		@include screenSize(atMedium) {
			margin-top: 0.5rem;
		}
	}

	p {
		margin: 0;
	}

	&__link-container {
		margin-top: auto;
		width: 100%;

		@include screenSize(atSmall) {
			width: 80% !important;
		}
		@include screenSize(atSmallMid) {
			width: 60% !important;
		}
		@include screenSize(atMedium) {
			width: 100% !important;
		}
	}

	&__divider {
		visibility: none;
		display: none;
		opacity: 0.35;

		@include screenSize(atSmall) {
			visibility: visible;
			display: block;
		}
	}
}
