.button {
	border: none;
	border-radius: 0.5rem;
	padding: 1rem 1.8rem;
	margin-bottom: 10px;
	background-color: $primaryGreenShade2;
	color: $darkBlue;
	cursor: pointer;
	letter-spacing: 0.1rem;
	font-family: $paragraphFont;
	font-weight: $fontBold;
	transition: all 0.3s ease-out;

	&:hover {
		box-shadow: none;
		transform: scale(1);
	}

	&--for-hire {
		padding: 1rem 1.5rem;
		color: $darkBlue;
		background-color: $primaryGreenShade2;
		// border-radius: 2rem;
		font-size: 1rem;
		font-weight: $fontMedium;

		@include screenSize(atSmall) {
			font-size: 1.2rem;
		}

		a {
			color: $primaryTextLight;
		}

		&:hover {
			transform: scale(1.02);
			background-color: $primaryBlueShade1;
			box-shadow: 1px 1px 8px $lightGray;
		}

		&:active {
			box-shadow: none;
			transform: scale(1);
			background-color: $primaryBlue;
		}
	}

	&--about {
		background-color: $primaryGreen;

		a {
			color: $primaryTextLight;
		}

		&:hover {
			transform: scale(1.08);
			opacity: 0.8;
		}
	}

	&--contact-form {
		align-self: flex-start;
		width: 200px;
		margin-left: 1rem;
		text-align: center;
		background-color: $mainGray;
		opacity: 0.5;
		transition: all 0.6s ease-out;

		&--is-validated {
			background-color: $primaryGreen;
			opacity: 1;
			cursor: pointer;
			transition: all 0.3s ease-out;

			&:hover {
				transform: scale(1.04);
				opacity: 0.8;
			}
		}
	}

	&--thank-you {
		display: block;
		margin: 3rem auto 3rem auto;
		transition: opacity 0.4s ease-out;

		a {
			color: $primaryTextLight;
		}

		&:hover {
			opacity: 0.75;
		}
	}
}
