.button {
    border: none;
    border-radius: .5rem;
    padding: 1rem 1.8rem;
    margin-bottom: 10px;
    background-color: $secondaryBlue;
    color: #fff;
    cursor: pointer;
    letter-spacing: .1rem;
    font-weight: $fontBold;
    transition: all .6s ease-out;

    &:hover {
        box-shadow: none;
        transform: scale(1);
    }

    &--for-hire {
        padding: 1rem 1rem;
        background-color: transparent;
        border: 4px solid $mainBlue;
        border-radius: 2rem;
        font-size: 1.5rem;
        font-weight: $fontLight;

        a {
            color: #fff;
        }

        &:hover {
            background-color: $mainBlue;
        }
    }

    &--about {
        background-color: $mainGreen;
        
        a {
            color: #fff;
        }

        &:hover {
            opacity: .7;
        }
    }

    &--contact-form {
        align-self: flex-start;
        width: 200px;
        margin-left: 1rem;
        text-align: center;
        background-color: $mainGray;
        opacity: 0.5;
        transition: all .6s ease-out;

        &--is-validated {
            background-color: $mainGreen;
            opacity: 1;
            cursor: pointer;
            transition: all .3s ease-out;

            &:hover {
                transform: scale(1.04);
                opacity: .8;
            }
        }
    }

    &--thank-you {
        display: block;
        margin: 3rem auto 3rem auto;
        transition: opacity .4s ease-out;

        a {
            color: #fff;
        }

        &:hover {
            opacity: .75; 
        }
    }
}