.button {
	border: none;
	border-radius: 0.5rem;
	padding: 1rem 1.8rem;
	margin-bottom: 10px;
	background-color: $primaryGreenShade2;
	color: $darkBlue;
	cursor: pointer;
	letter-spacing: 0.1rem;
	font-family: $paragraphFont;
	// font-weight: $fontBold;
	transition: all 0.3s ease-out;

	&:hover {
		transform: scale(1.005);
		background-color: $primaryGreenShade3;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
		border: none;
	}

	&:active {
		box-shadow: none;
		transform: scale(1);
		background-color: $primaryGreenShade3;
	}

	&--spacer {
		margin: 0.5rem 0.5rem 1.5rem 0.5rem;
	}

	&--outlined {
		transform: scale(1);
		background-color: transparent;
		border: 2px solid $darkBlue;
		color: $darkBlue;

		&:hover {
			transform: scale(1.04);
			box-shadow: none;
			background-color: transparent;
			border: 2px solid $darkBlueShade1;
			color: $darkBlueShade1;
		}

		&:active {
			box-shadow: none;
			transform: scale(1);
			background-color: transparent;
			border: 2px solid $darkBlueShade1;
		}
	}

	&--hero-content {
		padding: 1rem 0;
	}

	&--about {
		background-color: $primaryGreen;

		a {
			color: $primaryTextLight;
		}

		&:hover {
			transform: scale(1.08);
			opacity: 0.8;
		}
	}

	&--contact-form {
		align-self: flex-start;
		width: 200px;
		margin-left: 1rem;
		text-align: center;
		color: $primaryTextLight;
		background-color: $mainGray;
		opacity: 0.5;
		transition: all 0.6s ease-out;

		&--is-validated {
			background-color: $primaryGreen;
			opacity: 1;
			cursor: pointer;
			transition: all 0.3s ease-out;
		}

		&:hover {
			background-color: $mainGray;
		}
	}

	&--thank-you {
		display: block;
		margin: 3rem auto 3rem auto;
		transition: opacity 0.4s ease-out;

		a {
			color: $primaryTextLight;
		}
	}
}
