.icon-container {
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.5em 0;
    background-color: $accentRed;
    width: 90%;
    border-radius: 2rem;
    box-shadow: 0 10px 40px rgba(0, 0, 0, .25);

    @include screenSize(atMedium) {
        width: 65%;
        padding: 3em 0;
        bottom: -111px;
    }

    &__title {
        margin: 0 0 1em 0;
    }

    &__icon {
        margin: 2rem 0 0 2rem;

        &:first-of-type {
            margin-left: 0;
        }

        @include screenSize(atMedium) {
            margin: 0 0 0 2rem;
        }
    }
}