.mobile-menu {
  //visibility: hidden;
  transform: translateX(100%);
  position: absolute;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: -20px;
  min-height: 100vh;
  width: 80vw;
  background-color: rgba(0, 0, 0, 0.85);
  transition: transform 0.6s cubic-bezier(0,.01,.35,1.27);

  @include screenSize(atSmall) {
    width: 50vw;
  }

  @include screenSize(atSmallMid) {
    display: none;
  }

  &--is-visible {
    visibility: visible;
    transform: translateX(0%);
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(-2rem);
    width: 100%;
    height: 50vh;
    -webkit-padding-start: 0;

    li {
      margin: 0;
      padding: 1.2rem 0;
      text-align: center;
      font-size: 1.75rem;
      line-height: 1.5;

      a {
        color: #fff;
        font-weight: $fontLight;
        letter-spacing: 0.09rem;
      }
    }
  }
}
