.page-header {
	position: relative;
	margin-top: $siteHeaderHeightMobile;
	width: 100%;
	overflow: hidden;
	background: $darkBlue;
	height: $pageHeaderHeightMobile;

	&--about {
		border-bottom: none;
	}

	@include screenSize(atSmall) {
		height: $pageHeaderHeight;
	}

	&__image-container {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: $layer1;
	}

	&__content {
		width: 100%;
		color: #fff;
		text-shadow: 2px 2px $mainGray;

		&__h1 {
			position: absolute;
			bottom: 0;
			margin: 0;
			font-size: 2.6rem;
			text-shadow: 1px 1px $mainGray;
			color: $primaryTextLight;
			z-index: $layer4;

			&--portfolio {
				// @include heading-border($accentRed);
				// @include heading-padding(10px);
			}

			&--skills {
				// @include heading-border($primaryBlueShade2);
				// @include heading-padding(10px);
			}

			&--about {
				// @include heading-border($primaryGreen);
				// @include heading-padding(0);
			}

			&--contact {
				// @include heading-border($primaryYellow);
				// @include heading-padding(0);
			}

			@include screenSize(atSmall) {
				font-size: 3rem;
			}

			@include screenSize(atMedium) {
				font-size: 4rem;
			}

			@include screenSize(atLarge) {
				font-size: 5rem;
			}
		}
	}
}
