.page-header {
	position: relative;
	margin-top: $siteHeaderHeightMobile;
	margin-bottom: 1.5rem;

	width: 100%;
	overflow: hidden;
	background: $darkBlue;
	height: $pageHeaderHeightMobile;

	&--about {
		border-bottom: none;
	}

	@include screenSize(atSmall) {
		height: $pageHeaderHeight;
		margin-top: calc($siteHeaderHeight - 60px) px;
	}

	&__image-container {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: $layer1;

		img {
			height: 100%;
		}
	}

	&__content {
		width: 100%;
		color: #fff;
		text-shadow: 2px 2px $mainGray;

		&__h1 {
			position: absolute;
			bottom: 0;
			margin: 0;
			font-size: 2.6rem;
			text-shadow: 1px 1px $mainGray;
			color: $primaryGreenShade3;
			z-index: $layer4;

			@include screenSize(atSmall) {
				font-size: 3rem;
			}
			@include screenSize(atMedium) {
				font-size: 4rem;
			}
			@include screenSize(atLarge) {
				font-size: 5rem;
			}
		}
	}

	&__secondary-nav-container {
		width: 100%;

		@include screenSize(atSmall) {
			width: 80%;
		}
		@include screenSize(atSmallMid) {
			width: 60%;
		}
		@include screenSize(atMedium) {
			width: 50%;
		}
	}
}
