.page-background {
	position: absolute;
	display: inline;
	// top: calc($siteHeaderHeight + $pageHeaderHeight);
	width: 100%;
	height: 100vh;
	background: linear-gradient(180deg, $darkBlue 0%, $primaryBlue 75.33%);
	z-index: $layerBG;

	&__sub-bg {
		position: absolute;
		display: inline-flex;
		// top: calc($siteHeaderHeight + $pageHeaderHeight + 100vh);
		width: 100%;
		z-index: $layerBG;
		background: $primaryBlue;
	}
}
