.work-together {
	padding: 2rem 0;
	text-align: center;
	background-color: $primaryGreenShade4;

	@include screenSize(atMedium) {
		padding: 4rem 0;
	}

	h2 {
		margin: 0 0 1rem 0;
		font-size: $fontSize48;
		color: $darkBlue;
	}

	p {
		color: $darkBlue;
	}
}
