.work-together {
	padding: 2rem 0;
	text-align: center;
	background-color: $primaryGreenShade4;

	@include screenSize(atMedium) {
		padding: 4rem 0;
	}

	h2 {
		margin: 0 0 1rem 0;
		color: $primaryGreen;
		font-size: 1.2rem;

		@include screenSize(atMedium) {
			font-size: 2rem;
		}
	}

	h1 {
		margin-top: 0;
		line-height: 1;
		color: $darkBlue;
	}

	&__button-container {
		text-align: center;
	}
}
