.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include screenSize(atSmall) {
    padding-left: 30px;
    padding-right: 30px;
  }

  &--thanks {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
