* {
	box-sizing: border-box;
}

::selection {
	background-color: $darkBlue;
}

html {
	font-size: 16px;
	color: $primaryTextLight;
	background-color: $darkBlue;
	overflow: auto;
	overflow-x: hidden;

	@include screenSize(atSmall) {
		font-size: 18px;
	}
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	overflow: auto;
	overflow-x: hidden;

	@include screenSize(atSmall) {
		font-size: 18px;
	}

	p,
	figcaption {
		font-family: $paragraphFont;
		font-weight: $fontLight;
		line-height: $paragraphFontLineHeight;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $headingFont;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	img {
		width: 100%;
	}

	a {
		text-decoration: none;
		font-family: $paragraphFont;
	}

	ul {
		list-style-type: none;
		font-family: $paragraphFont;
	}

	figure {
		margin: 0;
	}

	input,
	textarea,
	label {
		font-family: $paragraphFont;
		color: $primaryTextLight;
	}

	input[type="text"],
	textarea {
		color: $primaryTextLight;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.page-header-spacer {
		padding-top: 4rem;
	}
}

.totally-hidden {
	visibility: hidden;
	display: none;
}
