@mixin screenSize($size) {
    $atTiny: "max-width: 340px";
    $atSmall: "min-width: 570px";
    $atMedium: "min-width: 1010px";
    $atLarge: "min-width: 1600px";
    $ipadPro: "min-height: 1366px";

    @if $size == atSmall {
        @media ($atSmall) {@content;}
    } 
    @else if $size == atMedium {
        @media ($atMedium) {@content;}
    }
    @else if $size == atLarge {
        @media ($atLarge) {@content;}
    }
    @else if $size == atTiny {
        @media ($atTiny) {@content;}
    }
    @else if $size == ipadPro {
        @media ($ipadPro) {@content;}
    }
}

@mixin parallaxEffect {
    transform: translateZ(-1px);
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
}

@mixin heading-border($color) {
    border-left: .6rem solid $color;
    border-bottom: .6rem solid $color;

    @include screenSize(atSmall) {
        border-left: 1rem solid $color;
        border-bottom: 1rem solid $color;
    }

    @include screenSize(atMedium) {
        border-left: 1rem solid $color;
        border-bottom: 1rem solid $color;
    }
}

@mixin heading-padding($bottom) {
    padding-left: 10px;
    padding-bottom: $bottom;

    @include screenSize(atSmall) {
        padding-left: 20px;
    }
}

@mixin clearFloats {
    content: "";
    clear: both;
    display: table;
}