//// Layout ////
$siteHeaderHeight: 98px;
$siteHeaderHeightMobile: 60px;
$pageHeaderHeight: 177px;
$pageHeaderHeightMobile: 77px;

//// TYPE ////
$headingFont: "Hanken Grotesk", sans-serif;
$paragraphFont: "Roboto Flex", sans-serif;
$fontVeryLight: 200;
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontBold: 700;
$fontVeryBold: 800;
$fontBlack: 900;
$paragraphFontLineHeight: 1.5;

//// COLORS ////
$mainGray: #333;
$lightGray: rgb(85, 85, 85);
$primaryBlack: #071117;
$primaryWhite: #f9fdff;
$primaryBlue: #2275a5;
$primaryBlueShade1: #5aa2cb;
$primaryBlueShade2: #7fbee2;
$primaryBlueShade3: #a4d9f9;
$primaryBlueShade4: #cbecff;
$darkBlue: #0a2463;
$darkBlueShade1: #284a9b;
$darkBlueShade2: #5f7cc2;
$darkBlueShade2Faded: rgba(94, 124, 194, 0.5);
$darkBlueShade3: #98afe5;
$darkBlueShade4: #d3dffe;
$darkGreen: #315a10;
$primaryGreen: #69a13b;
$primaryGreenShade1: #93c769;
$primaryGreenShade2: #c0e7a0;
$primaryGreenShade3: #dafac0;
$primaryGreenShade4: #f6ffef;
$primaryYellow: #ffaf02;
$primaryYellowShade1: #ffc94d;
$primaryYellowShade2: #ffe0a0;
$primaryYellowShade3: #fff2d0;
$primaryYellowShade4: #fffbe0;
$accentRed: rgb(218, 65, 62);
$landingGradient: linear-gradient(113.95deg, #2275a5 25.62%, rgba(10, 36, 99, 0.92) 94.55%);
$primaryText: #333;
$primaryTextLight: #f1f5f7;

//// LAYERS FOR Z-INDEX ////
$layerBG: -1;
$layer1: 1;
$layer2: 2;
$layer3: 3;
$layer4: 4;
$layer5: 5;
$layer6: 6;

//// RADIUSES FOR CORNERS ////
$primaryRadius: 5px;
$secondaryRadius: 10px;

//// FONT SIZES ////
$fontSize12: 12px;
$fontSize14: 14px;
$fontSize16: 16px;
$fontSize18: 18px;
$fontSize20: 20px;
$fontSize22: 22px;
$fontSize24: 24px;
$fontSize30: 30px;
$fontSize36: 36px;
$fontSize48: 48px;
$fontSize60: 60px;
$fontSize72: 72px;
