
//// FONTS ////
$primaryFont: Roboto, sans-serif;
$paragraphFont: Raleway, sans-serif;
$fontLight: 300;
$fontBold: 700;

//// COLORS ////

$mainGray: #333;
$mainBlack: #0A0908;
$mainBlue: #0A2463;
$mainBlueLight: rgb(16, 53, 139);
$mainGreen: rgb(137, 209, 79);
$secondaryBlue: #2274A5;
$accentRed: rgb(218, 65, 62);