.about-me {
	padding: 0 0 3rem 0;
	display: grid;
	grid-template-areas:
		"img"
		"do"
		"work"
		"tech";
	column-gap: 2em;

	@include screenSize(atMedium) {
		grid-template-areas:
			"do img"
			"work tech"
			"work tech";
		column-gap: 4em;
		row-gap: 2em;
	}

	h2 {
		color: $primaryGreenShade2;
	}

	&__img-container {
		grid-area: img;
		padding: 0 1rem 1rem 1rem;

		@include screenSize(atMedium) {
			padding: 2rem 2rem 2rem 0;
		}
	}

	&__what-i-do {
		grid-area: do;

		h2 {
			margin-top: 0;
		}
	}

	&__working-with-me {
		grid-area: work;
	}

	&__technology-i-use {
		grid-area: tech;
		display: grid;
		grid-template-areas:
			"h2 h2"
			"p p"
			"list-one list-two";

		h2 {
			grid-area: h2;
			margin-bottom: 0;
			// text-align: center;
		}

		p {
			grid-area: p;
		}

		&__list-one {
			grid-area: list-one;
			list-style-type: circle;
			line-height: 1.6;
		}

		&__list-two {
			grid-area: list-two;
			list-style-type: circle;
			line-height: 1.6;
		}
	}
}
