.slider {
    position: relative;
    width: 60vw;
    height: 80vh;
    margin: 4rem auto;
    overflow: hidden;
    border-radius: 8px;

    &__slideContainer {
        display: block;
        position: relative;
        width: 999999px;
        height: 80vh;
        margin: 0;
        padding: 0;
    }

    &__img {
        position: relative;
        width: 60vw;
        height: 80vh;
        float: left;
        left: -60vw;
    }

    &__prev, &__next {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 50%;
        z-index: 5;
        border: 5px solid #fff;
        border-radius: 5px;
        transform: rotate(45deg);
        cursor: pointer;
        transition: all .4s ease-in-out;

        &:hover {
            transform: rotate(45deg) scale(1.3);
            //border-color: $mainYellow;
        }
    }

    &__prev {
        border-top: none;
        border-right: none;
        left: 2%;
    }

    &__next {
        border-bottom: none;
        border-left: none;
        right: 2%;
    }

    &::after {
        @include clearFloats;
    }
}