.my-story {
	display: grid;
	grid-template-areas:
		"title"
		"p1"
		"picture"
		"p2"
		"p3"
		"p4";
	padding: 2rem 0 4rem 0;
	row-gap: 1rem;

	@include screenSize(atSmall) {
		padding: 4rem 0 6rem 0;
		padding-bottom: 3rem;
	}

	@include screenSize(atMedium) {
		grid-template-areas:
			"title title"
			"p1 picture "
			"p2 picture "
			"p3 p3 "
			"p4 p4 ";
		column-gap: 2em;
		padding-bottom: 4.5rem;
	}

	h2 {
		grid-area: title;
		color: $primaryGreenShade2;
	}

	p {
		margin: 0;
	}

	.p1 {
		grid-area: p1;
	}

	.p2 {
		grid-area: p2;
	}
	.p3 {
		grid-area: p3;
		// margin-bottom: 2rem;
	}
	.p4 {
		grid-area: p4;
	}

	&__img-container {
		grid-area: picture;
		padding: 0 1rem 1rem 1rem;
		max-height: 400px;

		img {
			max-height: 100%;
		}
	}
}
