.my-story {
    display: grid;
    grid-template-areas: 'title'
                         'p1'
                         'picture'
                         'p2'
                         'p3'
                         'p4';
    grid-column-gap: 2em;
    margin-bottom: 4.5rem;
    text-align: center;

    @include screenSize(atSmall) {
        margin-bottom: 3rem;
    }
    
    @include screenSize(atMedium) {
        grid-template-areas: 'title title'
                         'p1 picture'
                         'p2 picture'
                         'p3 p3'
                         'p4 p4';
        grid-column-gap: 2em;
        margin-bottom: 4.5rem;
        text-align: left;
    }

    h2 {
        grid-area: title;
    }

    .p1 {
        grid-area: p1;
    }

    .p2 {
        grid-area: p2;
    }
    .p3 {
        grid-area: p3;
    }
    .p4 {
        grid-area: p4;
    }

    &__img-container {
        grid-area: picture;
        padding: 1em 0;
    }
}