.secondary-nav {
	position: relative;
	width: 100%;
	padding-top: 1.5rem;

	@include screenSize(atSmall) {
		width: 40%;
	}

	ul {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin-top: 0;
		margin-bottom: 0;
		padding: 10px 0.5rem;
		border: 1px solid $primaryTextLight;
		border-radius: 26px;

		li {
			font-size: 1rem;
			text-align: center;

			@include screenSize(atSmall) {
				font-size: 1rem;
			}

			@include screenSize(atMedium) {
				// margin: 0;
			}

			&:nth-child(2) {
				display: none;

				/* @include screenSize(atSmall) {
                    margin: 0 5em;
                } */

				@include screenSize(atMedium) {
					display: block;
				}
			}
		}

		a {
			position: relative;
			color: $primaryTextLight;

			&::before {
				content: "";
				height: 100%;
				width: 100%;
				position: absolute;
				top: -2px;
				border-bottom: 4px solid $primaryGreenShade3;
				visibility: hidden;
				transform: scaleX(0);
				transition: all 0.3s ease-out;
			}

			&:hover {
				&::before {
					visibility: visible;
					transform: scaleX(1);
				}
			}
		}
	}
}
