.intro {
    display: flex;
    align-items: center;
    padding: 7rem 0;
  //background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 45%);

    &__img-container {
        float: left;
        width: 400px;
        height: 400px;
        overflow: hidden;
        margin-right: 3rem;
        //margin-bottom: 3rem;
        //border-radius: 200px;

        img {
            position: relative;
            z-index: -1;
        }
    }

    &__content {
        width: 50%;
        float: left;
        margin-left: 3rem;


        p {
            margin-bottom: 3rem;
            line-height: 1.8;
        }
    }

    &:after {
        @include clearFloats;
    }
}