.large-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    border-bottom: 8px solid $mainGray;
    
    &__image-container {
        position: absolute;
        @include parallaxEffect;
        top: 0;
        width: 100%;
        height: 200vh;
        filter: blur(4px);
        background-image: url('../../../../assets/images/hero.jpeg');
        background-position: center;
        background-size: cover;
        //background-repeat: repeat;
        background-attachment: fixed;

        @include screenSize(atLarge) {
            background-attachment: scroll;
        }

        @include screenSize(ipad) {
            background-attachment: scroll;
        }
    }

    &__filter {
        position: relative;
        width: 100%;
        height: 100vh;
        z-index: 5;
        background-color: rgba(34, 117, 165, 0.75);
    }

    &__content {
        width: 100%;
        display: flex;
        position: absolute;
        top: 50%;
        margin-top: -180px;
        color: #fff;
        text-align: center;
        text-shadow: 2px 2px $mainGray;
        z-index: 6;

        @include screenSize(atSmall) {
            margin-top: -145px;
        }
        
        h1 {
            font-size: 2rem;
            font-weight: $fontBold;
            text-align: center;

            @include screenSize(atSmall) {
                font-size: 3rem;
            }
        }

        p {
            text-shadow: 1px 1px $mainGray;
            font-size: 1.2rem;
            letter-spacing: .08rem;
            padding: 1.4rem 0;
            
            @include screenSize(atSmall) {
                padding: 0;
            }
            
            @include screenSize(atMedium) {
                padding: 1.4rem 0;
            }
        }
    }
}