.large-hero {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: $landingGradient;

	&__bg {
		position: relative;
		width: 100%;
		height: 100vh;
		z-index: 5;

		@include screenSize(atMedium) {
			height: 90vh;
		}

		@include screenSize(atLarge) {
			height: auto;
		}

		@include screenSize(ipadPro) {
			height: 55vh;
		}

		&__img-left-container {
			position: relative;

			@include screenSize(atMedium) {
				width: 50%;
				height: 100%;
			}

			&__image {
				width: 100%;
				height: 100%;
			}
		}

		&__img-right-container {
			width: 100%;

			@include screenSize(atMedium) {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				width: 50%;
			}
		}
	}

	&__content {
		width: 100%;
		display: flex;
		position: absolute;
		top: 50%;
		margin-top: -180px;
		color: #fff;
		text-align: center;
		text-shadow: 1px 1px 5px $mainGray;
		z-index: 6;

		@include screenSize(atSmall) {
			margin-top: -145px;
		}

		h1 {
			font-size: 2rem;
			font-weight: $fontBold;
			text-align: center;

			@include screenSize(atSmall) {
				font-size: 3rem;
			}
		}

		p {
			text-shadow: 1px 1px 5px $mainGray;
			font-size: 1.2rem;
			letter-spacing: 0.08rem;
			padding: 1.4rem 0;

			@include screenSize(atSmall) {
				padding: 0;
			}

			@include screenSize(atMedium) {
				padding: 1.4rem 0;
			}
		}
	}
}
