.my-work {
    position: relative;
    text-align: center;
    margin-top: 4rem;
    padding-bottom: 4rem;

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        //grid-template-rows: repeat(3, 1fr);
        //grid-gap: 1rem;
        padding: 0 5rem 5rem 5rem;
    }

    &__img {
       position: relative;
       overflow: hidden;

        a {
            color: #fff;
        }

        img {
            display: block;
            transform: scale(1);
            transition: all .4s ease-in-out;
        }

        &:hover {
            img {
                transform: scale(1.12);
            }

            .my-work__img--modal {
                left: 0%;
                background: $transBlue;
            }
        }

        &--modal {
            position: absolute;
            bottom: 0px;
            left: -100%;
            right: 0px;
            top: 0px;
            padding: 4rem 0 2rem 1rem;
            text-align: left;
            background: transparent;
            transition: all .4s ease-in-out;
        }
    }
}

.button-container {
    position: relative;
}