.my-work {
	position: relative;
	padding: 4rem 0 8rem 0;
	background-color: $primaryBlueShade2;

	&__container-left {
		width: 50%;
		display: inline-block;
	}
	&__container-right {
		width: 50%;
		display: inline-block;
	}
}
