.skills {
    //height: 100vh;
    margin-top: 3rem;
    padding: 1.5rem 0;
    text-align: center;
    background-color: $lightGray;
    color: #fff;

    &__title {
        margin-bottom: 3rem;
    }

    &__icon {
        color: $mainYellow;
        margin-bottom: 1.5rem;
    }

    &__figure-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1rem;
    }

    &__figure {
        margin: 0;

        figcaption {
            padding: 1rem;
            font-family: $paragraphFont;
            line-height: 1.65;
        }
    }
}