.skills {
	position: relative;
	display: flex;
	align-items: center;
	background: linear-gradient(180deg, #0a2463 54.17%, #2275a5 100%);
	overflow: hidden;

	@include screenSize(atTiny) {
		padding: 2.5rem 0 20rem 0;
	}
	@include screenSize(atMedium) {
		padding: 2.5rem 0 14rem 0;
		height: 90vh;
	}
	@include screenSize(ipadPro) {
		padding: 2.5rem 0 18rem 0;
	}

	&__bg {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: $layer1;

		&__title-img {
			height: auto;
			opacity: 1;

			@include screenSize(atSmall) {
				width: 100%;
				opacity: 0.8;
			}
			@include screenSize(atMedium) {
				width: 60%;
			}
		}

		&__img {
			display: none;
			height: auto;
			width: 100%;
			position: absolute;
			top: -30%;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: $layer1;
			opacity: 0.4;

			@include screenSize(atMedium) {
				display: block;
			}
		}
	}

	&__figure-container {
		display: grid;
		position: relative;
		padding-top: 5rem;
		z-index: $layer2;
		grid-template-areas:
			"col2"
			"col3"
			"col4"
			"col1";

		// .icon-container has it's own file in /components
		& .icon-container {
			grid-area: col1;
		}

		@include screenSize(atMedium) {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: "col1 col2 col3 col4";
			grid-column-gap: 1em;
			margin-top: 8%;
		}
	}

	&__figure {
		margin-bottom: 3rem;
		&:nth-child(2) {
			grid-area: col2;
			margin-top: 3rem;
		}
		&:nth-child(3) {
			grid-area: col3;
		}
		&:nth-child(4) {
			grid-area: col4;
			margin-bottom: 0;
		}

		@include screenSize(atMedium) {
			margin: 0;
		}

		h2 {
			font-family: $headingFont;
			// font-weight: $fontBold;
			font-size: 1.1rem;
			color: $primaryGreenShade2;
		}

		figcaption {
			padding: 0.5rem 0.5rem 0 0;
			// font-size: 1.3rem;
			color: $primaryTextLight;
		}
	}
}
