.button {
    border: none;
    border-radius: 4px;
    padding: .75rem 1.8rem;
    margin-bottom: 10px;
    background-color: $secondaryBlue;
    color: #fff;
    cursor: pointer;
    transition: all .25s ease-out;
    letter-spacing: .1rem;
    font-weight: $fontBold;

    &:hover {
        box-shadow: 3px 2px 8px $mainGray;
        transform: scale(1.01);
    }

    &--contact-form {
        width: 200px;
        background-color: $mainGreen;
    }

    &--large-hero {
        background-color: $accentRed;

        a {
            color: #fff;
        }

        &:hover {
            background-color: rgb(231, 106, 103);
            box-shadow: none;
        }
    }
}