.button {
    border: none;
    border-radius: 4px;
    padding: .75rem 1.8rem;
    margin-bottom: 10px;
    background-color: $secondaryBlue;
    color: #fff;
    cursor: pointer;
    transition: all .25s ease-out;
    letter-spacing: .1rem;
    font-weight: $fontBold;

    &--contact-form {
        width: 200px;
        align-self: flex-start;
        background-color: $mainGray;
        opacity: 0.5;
        transition: all .6s ease-out;
        
        &:hover {
            box-shadow: none;
            transform: scale(1);
            cursor: default;
        }

        &--is-validated {
            background-color: $mainGreen;
            opacity: 1;
            transition: all .3s ease-out;

            &:hover {
                box-shadow: 3px 2px 8px $mainGray;
                transform: scale(1.02);
            }
        }
    }

    &--large-hero {
        background-color: $accentRed;

        a {
            color: #fff;
        }

        &:hover {
            background-color: rgb(231, 106, 103);
        }
    }
}