.page-header {
    font-size: 2rem;
    //margin-left: 10%;

    @include screenSize(atSmall) {
        font-size: 3rem;
        //margin-left: 14%;
    }

    @include screenSize(atMedium) {
        font-size: 4rem;
        //margin-left: 18%;
    }

    @include screenSize(atLarge) {
        font-size: 5rem;
        //margin-left: 18%;
    }

    &--portfolio {
        @include heading-border($secondaryBlue);
        @include heading-padding(10px);
    }

    &--skills {
        @include heading-border($secondaryBlue);
        @include heading-padding(10px);
    }

    &--about {
        @include heading-border($secondaryBlue);
        @include heading-padding(0);
    }

    &--contact {
        @include heading-border($secondaryBlue);
        @include heading-padding(0);
    }

    &--thanks {
        @include heading-border($accentRed);
        @include heading-padding(0);
    }
}