.primary-nav {
    display: flex;

    ul {
        display: flex;
        align-items: center;

        li {
            margin-left: 2rem;

            a {
                position: relative;
                color: #fff;
                font-weight: $fontLight;
                letter-spacing: .09rem;
                transition: color .25s ease-out;

                &:hover {
                    color: $mainBlueLight;
                }
            }
        }
    }
}